#HMP{
    font-family:arial;
    color:navy;   
    text-align: center;
}
#judul-2{
    font-family:arial;
    color:#ff0000;  
    text-align: center;
}
#IDcard{
    text-align: center;
    padding: 100px 0px;
}